{% extends 'base.html' %}
{% block 'conteudo' %}
<div class="container">
    <br>
    {% if messages %}
    {% for message in messages %}
        <div class="alert alert-info" role="alert">{{ message }}</div>
    {% endfor %}
    {% endif %}
    <form method="POST" action="{% url 'user_update_password' user.id %}">
        {% csrf_token %}
        <ul class="list-group pad">
            <li class="list-group-item active"><h1 class="titlepage">Atualização de dados</h1></li>
            <li class="list-group-item ls">
                <div class="form-group">
                    <label for="old_password">Senha antiga:</label>
                    <input type="text" maxlength="8" name="old_password" value="" class="form-control test" id="old_password" placeholder="Senha"/>
                </div>
            </li>
            <li class="list-group-item ls">
                <div class="form-group">
                    <label for="new_password">Nova senha:</label>
                    <input type="password" maxlength="8" name="new_password" value="" class="form-control test" id="new_password" placeholder="Nova senha"/>
                </div>
            </li>
            <li class="list-group-item ls">
                <div class="form-group">
                    <label for="confirm_new_password">Confirmar nova senha:</label>
                    <input type="password" maxlength="8" name="confirm_new_password" value="" class="form-control test" id="confirm_new_password" placeholder="Nova senha"/>
                </div>
            </li>
            <li class="list-group-item ls">Criado em: {{ user.date_joined }}</li>
            <li class="list-group-item active"></li>
        </ul>
        <a href="{% url 'user_update_password' user.id %}"><button type="submit" class="btn btn-primary botao">Salvar</button></a>
    </form>
</div>
{% endblock %}